/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
        -moz-appearance: textfield;
}


.partenerForm {
        max-width: 400px;
        margin: auto;
        text-align: center;
        padding-top: 20px;
}

h1 {
        text-align: center;
}

h2 {
        text-align: center;
        align-items: center;
        margin-bottom: 20px;
}

.results {
        position: absolute;
        background: white;
        padding-top: 10px;
        max-height: 100px;
        max-width: 500px;
        overflow-y: auto;
        width: 100%;
        z-index: 999;
  }

  #oras{
    margin-bottom: 10px;
  }
  .result-item {
        padding: 8px;
        cursor: pointer;
  }
  .result-item:hover {
        background: #eee;
  }

.result-item {
  padding: 6px 10px;
  cursor: pointer;
}

.result-item.active {
  background-color: #2563eb;
  color: white;
}

.required {
        color: red;
}

.row-container {
        display: flex;
        gap: 20px;
        margin-bottom: 16px;
    }
.field-group {
        flex: 1;
    }
.field-group input {
        width: 100%;
        box-sizing: border-box;
    }

.cui-container {
        display: flex;
        align-items: center;
        gap: 10px;
        }
#verificaCUI {
        padding: 8px 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: none; /* Ascuns ini»õial */
        }
#verificaCUI:hover {
        background-color: #45a049;
        }
#verificaCUI:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
        }